*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    width: 203px;
    height: 135px;
}


.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: #555;
}

.btn-cadastro {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-cadastro:hover {
    background-color: #333;
}