.header {
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    color: #f5f5f5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f5f5f5;
    background-color: transparent;
}

.logo-img {
    width: 203px;
    height: 135px;
    color: #f5f5f5;
    background-color: transparent;
}


.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f5f5f5;
    color: #f5f5f5;
    background-color: transparent;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    transition: color 0.2s ease;
    background-color: transparent;
}

.nav a:hover {
    color: #f5f5f5;
}

.btn-logout {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-logout:hover {
    background-color: #333;
}