.cadastro {
    align-items: start;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    width: 100vw;
}

.cadastro .div {
    background-color: #ffffff;
    height: 1421px;
    position: relative;
    width: 1920px;
}

.cadastro .overlap-group {
    height: 642px;
    left: 196px;
    position: absolute;
    top: 239px;
    width: 1483px;
}

.cadastro .image {
    background: linear-gradient(
            0deg,
            rgba(247, 247, 247, 1) 0%,
            rgba(247, 247, 247, 1) 100%
    );
    border-radius: 8px;
    height: 618px;
    left: 975px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    width: 508px;
}

.cadastro .element {
    aspect-ratio: 0.77;
    height: 618px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 508px;
}

.cadastro .form {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--variable-collection-spacing-SM);
    height: 642px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1038px;
}

.cadastro .input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 80px;
    position: relative;
    width: 626px;
}

.cadastro .text-wrapper {
    align-self: stretch;
    color: #000000;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
}

.cadastro .field {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.cadastro .label {
    color: #828282;
    flex: 1;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
}

.cadastro .label-wrapper {
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    color: #828282;
    flex: 1;
    flex-grow: 1;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.cadastro .input-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 90px;
    position: relative;
    width: 626px;
}

.cadastro .field-2 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    display: flex;
    gap: 8px;
    height: 48px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.cadastro .label-2 {
    color: #828282;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
    width: 563px;
}

.cadastro .keyboard-arrow-down {
    aspect-ratio: 1;
    height: 24px;
    margin-right: -1.00px;
    position: relative;
    width: 24px;
}

.cadastro .input-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 98px;
    position: relative;
    width: 626px;
}

.cadastro .div-wrapper {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    display: flex;
    gap: 8px;
    height: 47px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.cadastro .input-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 90px;
    margin-bottom: -6.00px;
    position: relative;
    width: 626px;
}

.cadastro .navigation {
    background-color: #ffffff;
    height: 164px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.cadastro .img {
    aspect-ratio: 1.5;
    height: 164px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 252px;
}

.cadastro .navigation-footer {
    height: 264px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1157px;
    width: 1920px;
}

.cadastro .button {
    all: unset;
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    height: 60px;
    justify-content: center;
    left: 196px;
    padding: 16px 32px;
    position: absolute;
    top: 930px;
    width: 626px;
}

.cadastro .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--body-text-font-family);
    font-size: var(--body-text-font-size);
    font-style: var(--body-text-font-style);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    margin-top: -2.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.cadastro .heading {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--variable-collection-spacing-s);
    height: 48px;
    left: 196px;
    position: absolute;
    top: 182px;
    width: 624px;
}

.cadastro .text-wrapper-3 {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
}

.cadastro .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 35px;
    left: 360px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 1009px;
    white-space: nowrap;
    width: 298px;
}
