.login {
    align-items: start;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    width: 100vw;
}

.login .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.login .navigation {
    background-color: #ffffff;
    height: 164px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.login .items {
    align-items: center;
    display: inline-flex;
    gap: var(--variable-collection-spacing-m);
    justify-content: flex-end;
    left: 1408px;
    position: absolute;
    top: 56px;
}

.login .text-wrapper {
    color: #000000;
    font-family: var(--body-text-font-family);
    font-size: var(--body-text-font-size);
    font-style: var(--body-text-font-style);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.login .button {
    all: unset;
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    padding: 14px 24px;
    position: relative;
}

.login .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.login .image {
    aspect-ratio: 1.5;
    height: 164px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 252px;
}

.login .navigation-footer {
    background-color: #ffffff;
    height: 264px;
    left: 0;
    position: absolute;
    top: 816px;
    width: 1920px;
}

.login .overlap {
    height: 216px;
    left: 45px;
    position: absolute;
    top: 0;
    width: 1497px;
}

.login .overlap-group {
    height: 216px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1497px;
}

.login .items-2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--variable-collection-spacing-s);
    justify-content: center;
    left: 1011px;
    position: absolute;
    top: 48px;
    width: 187px;
}

.login .text-wrapper-3 {
    align-self: stretch;
    color: #000000;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
}

.login .text-wrapper-4 {
    align-self: stretch;
    color: #444444;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    position: relative;
}

.login .items-3 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--variable-collection-spacing-s);
    justify-content: center;
    left: 1310px;
    position: absolute;
    top: 48px;
    width: 187px;
}

.login .overlap-group-2 {
    height: 165px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1315px;
}

.login .divider {
    height: 1px;
    left: 35px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1280px;
}

.login .img {
    aspect-ratio: 1.5;
    height: 165px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 252px;
}

.login .social-icons {
    height: 40px;
    left: 35px;
    position: absolute;
    top: 176px;
    width: 184px;
}

.login .items-4 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--variable-collection-spacing-s);
    justify-content: center;
    left: 1653px;
    position: absolute;
    top: 48px;
    width: 187px;
}

.login .form {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--variable-collection-spacing-SM);
    height: 211px;
    left: 250px;
    position: absolute;
    top: 327px;
    width: 835px;
}

.login .input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 80px;
    position: relative;
    width: 626px;
}

.login .field {
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    color: #828282;
    flex: 1;
    flex-grow: 1;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.login .input-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 90px;
    position: relative;
    width: 626px;
}

.login .label-wrapper {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    display: flex;
    gap: 8px;
    height: 48px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.login .label {
    color: #828282;
    flex: 1;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    font-style: var(--small-text-font-style);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    margin-top: -1.00px;
    position: relative;
}

.login .div-wrapper {
    all: unset;
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    height: 60px;
    justify-content: center;
    left: 250px;
    padding: 16px 32px;
    position: absolute;
    top: 577px;
    width: 626px;
}

.login .text-wrapper-5 {
    color: #ffffff;
    font-family: var(--body-text-font-family);
    font-size: var(--body-text-font-size);
    font-style: var(--body-text-font-style);
    font-weight: var(--body-text-font-weight);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    margin-top: -2.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.login .heading {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--variable-collection-spacing-s);
    height: 48px;
    left: 244px;
    position: absolute;
    top: 221px;
    width: 624px;
}

.login .text-wrapper-6 {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
}

.login .festival-de-musica {
    aspect-ratio: 0.82;
    height: 565px;
    left: 1187px;
    object-fit: cover;
    position: absolute;
    top: 202px;
    width: 466px;
}

.login .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 36px;
    left: 338px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 658px;
    white-space: nowrap;
}
